node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
yarn.lock
*.pyc
*.pyo
*~
.build
.DS_Store
.env
.vfenv
.venv
.subl
.idea
.Python
.python-version
.foreman
.coverage
*.floo
*.flooignore
*.sass-cache*
*.bower-cache*
*.vagrant*
*.sublime-*
*.sqlite3*
*.build
.ropeproject
.#*
.cache/*
.vscode/

*FLOOBIT_README.md
/redis
/node_modules
uwsgi.ini
npm-debug.log
celerybeat-schedule*
media
bin
lib
local
build
include
htmlcov
trackmaven/public/static
ghostdriver.log
.uwsgi
development
development/elasticsearch/data
development/elasticsearch/logs

trackmaven/apps/frontend/static/js/activity/
trackmaven/apps/frontend/static/js/company/
trackmaven/apps/frontend/static/js/handlebars/
trackmaven/apps/frontend/static/js/shared/
trackmaven/apps/frontend/static/js/staff/

trackmaven/static/js/client/

trackmaven/apps/style/static/style/css/*.css

trackmaven/apps/style/static/style/img/sprites.png

settings.js
